USE [master]
GO
/****** Object:  Database [musicpro]    Script Date: 6/30/2023 5:47:53 PM ******/
CREATE DATABASE [musicpro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'musicpro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\musicpro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'musicpro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\musicpro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [musicpro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [musicpro]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 6/30/2023 5:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[descripcion] [varchar](255) NULL,
	[categoria] [varchar](255) NULL,
	[precio] [int] NULL,
	[stock] [int] NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([id], [nombre], [descripcion], [categoria], [precio], [stock]) VALUES (5, N'Guitarra Eléctrica Ibanez GRG170DX  Black Night', N'Una guitarra no tiene que costar una fortuna para tener un buen sonido, es el caso de la serie GRX de Ibanez', N'guitarras', 309900, 10)
INSERT [dbo].[producto] ([id], [nombre], [descripcion], [categoria], [precio], [stock]) VALUES (6, N'guitarra epseter', N'solo para tocar', N'guitarras', 400302, 20)
INSERT [dbo].[producto] ([id], [nombre], [descripcion], [categoria], [precio], [stock]) VALUES (9, N'Guitarra Eléctrica jackson', N'Guitarra clásica jackson', N'guitarras', 250000, 20)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
USE [master]
GO
